/*
 * Article
 * Content block styling
 */

article {
  padding: var(--block-space);
  background-color: var(--color-bg-lighter);
  border: 1px solid var(--color-bg-darker);
  border-radius: var(--radius);
  margin-block-end: var(--block-space);
}
