<%# locals: (account_alias:) %>
<li>
  <%= account_alias.pattern %>
  <%= button_to account_account_alias_path(account_alias.account, account_alias), method: :delete,
        data: { turbo_confirm: t("common.confirm_destroy"), confirm_verb: t("common.remove") } do %>
    <%= t("common.remove") %>
  <% end %>
</li>
