//
// DARK MODE
//
// Functionally Taken from here: https://tombrow.com/dark-mode-website-css
@import 'variables'

@media (prefers-color-scheme: dark)
  *
    border-color: $base0 !important
  body
    background-color: $base03 !important
    color: $base0 !important
  h1, h2, h3, h4, h5, h6
    color: $base1
    border-color: $base0
  a, a:active, a:visited
    color: $yellow
  img
    filter: grayscale(30%)
