/*
DARK MODE

Functionally Taken from here: https://tombrow.com/dark-mode-website-css
*/

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--base3);
    --color-table: var(--yellow);
    --color-link: var(--yellow);
    --color-accent: var(--base02);
  }

  * {
    border-color: var(--base0);
  }

  body {
    background-color: var(--base03);
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--base1);
    border-color: var(--base0);
  }

  a, a:active, a:visited {
    color: var(--yellow);
  }

  img {
    filter: grayscale(30%);
  }

  input:disabled,
  select:disabled,
  textarea:disabled {
    /* TODO: add disabled icon */
    background-color: var(--base00);
    color: var(--base3);
  }
}
