<%# locals: (f:) %>
<div data-budget-categories-target="row">
  <%= f.collection_select :category_id,
      Category.groups.order(:name),
      :id, :name,
      { include_blank: t("budgets.form.category") } %>
  <%= f.number_field :amount, placeholder: t("budgets.form.amount"), step: "0.01", min: "0.01" %>
  <%= f.hidden_field :_destroy, value: false, data: { budget_categories_target: "destroy_field" } %>
  <button type="button" data-action="budget-categories#remove"><%= t("budgets.form.remove") %></button>
</div>
