/* // From https://ethanschoonover.com/solarized/ */
:root {
  --base03:    #002b36;
  --base02:    #073642;
  --base01:    #586e75;
  --base00:    #657b83;
  --base0:     #839496;
  --base1:     #93a1a1;
  --base2:     #eee8d5;
  --base3:     #fdf6e3;
  --yellow:    #b58900;
  --orange:    #cb4b16;
  --red:       #dc322f;
  --magenta:   #d33682;
  --violet:    #6c71c4;
  --blue:      #268bd2;
  --cyan:      #2aa198;
  --green:     #859900;

  /* // source; MVP.css v1.6.2 - https://github.com/andybrewer/mvp */
  --border-radius: 5px;
  --justify-important: center;
  --justify-normal: left;
  --box-shadow: 2px 2px 10px; /* // TODO: remify */

  --color-shadow: #f4f4f4;

  --color: var(--blue);
  --color-accent: var(--base03); /*#118bee15*/
  --color-bg: var(--base3);
  --color-bg-secondary: var(--base3);
  --color-secondary: var(--red); /*/#920de9*/
  --color-secondary-accent: var(--magenta); /*#920de90b*/
  --color-shadow: var(--base1);
  --color-text: var(--base0);
  --color-text-secondary: var(--base02);
  --hover-brightness: 1.2;
  --line-height: 1.5;

  --width-card: 285px; /* TODO: remify */
  --width-card-medium: 460px; /* TODO: remify */
  --width-card-wide: 800px; /* TODO: remify */
  --width-content: 1080px; /* TODO: remify */
}
