<%# locals: (page:) %>
<% show_previous = page.number > 1 %>
<% show_next = page.before_last? %>

<% if show_previous || show_next %>
  <nav class="pagination">
    <% if show_previous %>
      <%= link_to t("pagination.previous"), url_for(request.query_parameters.merge(page: page.number - 1)), rel: "prev" %>
    <% end %>
    <% if show_next %>
      <%= link_to t("pagination.next"), url_for(request.query_parameters.merge(page: page.next_param)), rel: "next" %>
    <% end %>
  </nav>
<% end %>
