<header>
  <h1><%= @chattel.name %></h1>
  <nav>
    <%= link_to edit_chattel_path(@chattel) do %>
      <b><%= t('common.edit') %></b>
    <% end %>
  </nav>
</header>
<article>
  <%= render partial: 'form', locals: { disabled: :disabled } %>
</article>
