/*
 * Main
 * Main content area
 */

main {
  max-inline-size: var(--max-width-wide);
  margin-inline: auto;
  padding-inline: var(--inline-space-double);
  padding-block: var(--block-space);
  min-block-size: 70vh;
}

@media (max-width: 768px) {
  main {
    padding-inline: var(--inline-space);
  }
}
