/*
 * Footer
 * Site footer
 */

footer {
  max-inline-size: var(--max-width-wide);
  margin-inline: auto;
  padding-inline: var(--inline-space-double);
  margin-block-start: var(--block-space-quad);
  padding-block-start: var(--block-space);
  border-block-start: 1px solid var(--color-bg-darker);
  color: var(--color-fg-lighter);
}

@media (max-width: 768px) {
  footer {
    padding-inline: var(--inline-space);
  }
}
