@import "../base.sass"

body
  display: flex
  flex-wrap: wrap

// The Sidebar
body > nav
  flex-basis: 10rem
  flex-grow: 1

  // Put menu options below each other instead of side-by-side
  ul
    flex-direction: column
    height: initial
    justify-content: flex-start
    margin: -1rem .5rem
    padding: 0
    @media screen and (max-width: 800px)
      height: fit-content
      margin: 0

    @include for-tablet-landscape-up
      height: 100vh
      flex-direction: row

  li
    width: 100%
    padding: .5rem

  li.login
    margin-top: auto
    text-align: right

    @include for-tablet-landscape-up
      margin-top: 0
      margin-left: auto

  a
    font-variant: small-caps
    font-size: 1.5rem
    font-weight: bold

// NOT the sidebar
main
  flex-basis: 0
  flex-grow: 999
  min-width: 1024px
