@import url('theme/variables');

/* source MVP.css v1.6.2 - https://github.com/andybrewer/mvp */

/* Links */
 a {
   color: var(--color-secondary);
   display: inline-block;
   font-weight: bold;
   text-decoration: none; }

 a:hover {
   filter: brightness(var(--hover-brightness));
   text-decoration: underline; }

 a b,
 a em,
 a i,
 a strong,
 button,
 input[type='submit'] {
   border-radius: var(--border-radius);
   display: inline-block;
   font-size: medium;
   font-weight: bold;
   line-height: var(--line-height);
   margin: 0.5rem 0;
   padding: 1rem 2rem; }

 /* button */
 /*   font-family: var(--font-family) */
 button:hover,
 input[type='submit']:hover {
   cursor: pointer;
   filter: brightness(var(--hover-brightness)); }

 a b,
 a strong,
 button,
 input[type='submit'] {
   background-color: var(--color);
   border: 2px solid var(--color);
   color: var(--color-bg); }

 a em,
 a i {
   border: 2px solid var(--color);
   border-radius: var(--border-radius);
   color: var(--color);
   display: inline-block;
   padding: 1rem 2rem; }
