* {
  box-sizing: border-box; }

body {
  font: 16px/1.5 "Helvetica Neue","Helvetica","Arial",sans-serif;
  margin: 0 auto; }
  @media screen and (min-width: 801px) {
    body {
      padding: 1rem; } }

h1, h2, h3, h4, h5, h6 {
  /* font-family: "Helvetica Neue","Helvetica","Arial",sans-serif */
  /* font-family: "Georgia",serif */
  /* margin: 2.5rem 0 1rem */
  font-family: "Georgia",serif;
  font-variant: small-caps; }

ul li, ol li {
  /* margin-top: 0.5rem */ }

img {
  height: auto;
  max-width: 100%; }

pre {
  border: 1px solid lightgrey;
  overflow: auto; }

code {
  color: orangered;
  display: inline-block; }

pre code {
  padding: 1rem; }

blockquote {
  border-left: 5px solid lightgrey;
  font-size: 120%;
  font-style: italic;
  margin: 2rem 0;
  padding: 1rem; }

hr {
  background: lightgrey;
  border: 0;
  height: 1px;
  /* margin: 2rem 0 */ }
