/*
 * Tables
 * Semantic table styling
 */

table {
  inline-size: 100%;
  border-collapse: collapse;
  margin-block: var(--block-space);
}

th,
td {
  padding: var(--block-space-half) var(--inline-space);
  text-align: start;
  border-block-end: 1px solid var(--color-bg-darker);
}

th {
  font-weight: 600;
  background-color: var(--color-bg-lighter);
  color: var(--color-fg-darkest);
}
