/*
 * Details/Summary
 * Disclosure widget styling
 */

details {
  margin-block: var(--block-space);
}

summary {
  cursor: pointer;
  font-weight: 600;
  color: var(--color-fg-darker);
}

summary:hover {
  color: var(--color-fg-darkest);
}
