<%# locals: (category:) %>
<%= link_to category_path(category), class: "search-result", data: { turbo_frame: "_top" } do %>
  <span><%= category.full_name %></span>
  <small class="search-result-meta"><%= t("balance.#{category.direction}") %></small>
<% end %>
