<%# locals: (transaction:) %>
<%= link_to transaction_path(transaction), class: "search-result", data: { turbo_frame: "_top" } do %>
  <span><%= transaction.type_icon %> <%= number_to_currency(transaction.amount) %></span>
  <% if transaction.note.present? %>
    <small class="search-result-meta"><%= truncate(transaction.note, length: 60) %></small>
  <% end %>
<% end %>
