<%# locals: (chattel:) %>
<%= link_to chattel_path(chattel), class: "search-result", data: { turbo_frame: "_top" } do %>
  <span><%= chattel.name %></span>
  <% if chattel.kind.present? %>
    <small class="search-result-meta"><%= chattel.kind %></small>
  <% end %>
<% end %>
