<%# locals: (account:) %>
<%= link_to account_path(account), class: "search-result", data: { turbo_frame: "_top" } do %>
  <span><%= account.name %></span>
  <% if account.account_number.present? %>
    <small class="search-result-meta"><%= account.account_number %></small>
  <% end %>
<% end %>
