<%= turbo_frame_tag "search-results" do %>
  <% if @search.query.present? && !@search.any_results? %>
    <p><%= t("search.no_results") %></p>
  <% elsif @search.any_results? %>
    <% @search.results.each do |type, items| %>
      <section>
        <h3><%= t("search.result_types.#{type}") %></h3>
        <% items.each do |item| %>
          <% singular = type.to_s.singularize %>
          <%= render partial: "searches/result_#{singular}", locals: { singular.to_sym => item } %>
        <% end %>
      </section>
    <% end %>
  <% end %>
<% end %>
