%nav.secondary
  %ul
    %li= link_to 'New Category', new_category_path

%header
  %h1 Categories

%table.categories
  %thead
    %tr
      %th Id
      %th Name
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.id
        %td= category.name
        %td= link_to 'Show', category
