%nav.secondary
  %ul
    %li= link_to 'Back', categories_path
    %li= link_to 'Edit', edit_category_path(@category)

= render partial: 'form', locals: { disabled: :disabled }

%section
  = link_to @category, method: :delete, data: { confirm: 'Are you sure?' } do
    %b Destroy
