<h1><%= t(".title") %></h1>

<%= render "form",
           user: @user,
           url: admin_user_path(@user),
           submit_label: t(".submit"),
           cancel_path: admin_user_path(@user) %>
