<section class="transactions">
  <%= render partial: "table",
             locals: { transactions: @transactions, page: @page, show_uncategorized_amount: params[:filter] == "no_category" } %>
</section>

<section class="actions">
  <aside>
    <%= link_to new_transaction_path do %>
      <strong><%= t('.new_transaction') %></strong>
    <% end %>
  </aside>

</section>
