<section class="transactions">
  <%= render partial: 'table', locals: { transactions: @transactions, page: @page } %>
</section>

<section class="actions">
  <%= form_with local: true, url: transactions_imports_path, multipart: true do |form| %>
    <%= form.file_field :csv %>
    <%= form.submit t('.upload') %>
  <% end %>
</section>
