<p><%= link_to t('.new_transaction'), new_transaction_path %></p>

<article class="transactions">
  <%= render partial: "table",
             locals: { transactions: @transactions, page: @page, show_uncategorized_amount: params[:filter] == "no_category" } %>
</article>
